extend _template

block content
	.ui.masthead.clear.gray
		.ui.mastcontent.centered.middle.aligned.internally.celled.stackable.grid

			.three.wide.computer.four.wide.tablet.wide.column
				img.image(src="/static/images/wiki-v6.png", alt="WikiAcad logotipo").ui.center

			.five.wide.computer.eight.wide.tablet.column

				h2.ui.header Acesse sua conta

				.ui.form.attached.segment
					form
						.field 
							.ui.left.icon.input
								i.user.icon
								input(type="email", placeholder="Endereço de e-mail")
						.field 
							.ui.left.icon.input
								i.lock.icon
								input(type="password", placeholder="Senha")

						.ui.fluid.large.primary.submit.button Entrar
				.ui.bottom.attached.message Ainda não tem uma conta? 
					a(href="#") Cadastre-se
block scripts
