extend _template

append stylesheets
    link(rel="stylesheet", href="/static/css/profile.sass.css")
    link(rel="stylesheet", href="/static/css/addArticle.sass.css")
    link(href='https://cdn.quilljs.com/1.3.6/quill.snow.css', rel='stylesheet')

block content
    #wrapper
        include components/following_menu.pug
        +followingMenu()
        #content-wrapper
            .ui.profile.header
                .ui.university.image
                    img(src="/static/images/fatec.png")
            .ui.container(style='margin-top: 30px;')
                form(action="article", method="POST")
                    .ui.form
                        h3(class="ui dividing header") Adicionar artigo
                        .required.field
                            label Título
                            input(placeholder='Título do artigo', type='text', name='title') 
                        .required.field
                            label Subtítulo
                            input(placeholder='Subtítulo do artigo', type='text', name='subtitle') 
                        .two.fields
                            .required.field
                                label Orientador
                                input(placeholder='Nome do orientador', type='text', name="leader")
                            .required.field
                                label Autor
                                input(placeholder='Nome do autor', type='text', name="author")
                        .required.field
                            label Conteúdo
                            .row.form-group
                                input(name='content', type='hidden')
                                #editor-container(style="min-height:250px")
                        .field
                            input(type="submit", class="ui submit primary button right floated", value="Pronto!")

block scripts
    script(src='https://cdn.quilljs.com/1.3.6/quill.js')
    script.
        var quill = new Quill('#editor-container', {
            modules: {
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic'],
                    [{ list: 'ordered' }, { list: 'bullet' }]
                ]
            },
            placeholder: 'Escreva o conteúdo do seu artigo...',
            theme: 'snow'
        });

        var form = document.querySelector('form');
        form.onsubmit = function() {
            // Populate hidden form on submit
            var about = document.querySelector('input[name=content]');
            about.value = JSON.stringify(quill.getContents());
            
            console.log("Submitted", $(form).serialize(), $(form).serializeArray());
        };