extend _template

append stylesheets
	link(rel="stylesheet", href="/static/css/articles.sass.css")

block content
	#wrapper	
		include components/following_menu.pug
		+followingMenuLight()

		#content-wrapper.pushed
			article
				.ui.container
					h1.block=article.title
					h2.block=article.subtitle
					
					each block in article.blocks
						section.block.justify
							h3.ui.dividing.header=block.title
							each paragraph in block.paragraphs
								p=paragraph



block scripts
	// Resetting jQuery