extend _template

block content
	.pusher 
		#wrapper
			.ui.masthead.inverted.center.aligned.segment
				.ui.container
					.ui.large.secondary.inverted.menu.mastmenu
						.item.serif 
							img(src="/static/images/wiki-v1.png", alt="WikiAcad logotipo")
						a.item Sobre
						a.item.periodical-trigger Revista
						a.item Videoteca

						.right.menu
							.link.item
								.text Entrar
								i.arrow.right.icon
				.ui.text.container.mastsearch
					img(src="/static/images/wiki-v3.png").mastlogo
					.ui.icon.inverted.big.transparent.fluid.input
						input(placeholder="Procure um artigo...")
						i.search.icon
				.scroll-down
					span.periodical-trigger Nossa revista
					i.angle.down.icon.periodical-trigger
			#content-wrapper
				section
					header.ui.gradient.vanusa 
						h1.serif Revista
					each val in [1, 2, 3]
						article
							.ui.container
								.text-wrapper
									h1 Artigo muito foda
									p.references Por João da Silva Almeida
									p.references 21min. de leitura
									p.references ALMEIDA, João da Silva. 
										b Artigo muito foda. 
										| 2015. Acesso em &lt;12. Out. 2018&gt;
										
										a.ui.small.label Copiar
											i.edit.icon

									p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem saepe natus est culpa explicabo velit neque, reprehenderit eveniet. Quibusdam, quo doloremque! Fugit ex asperiores minus repellendus esse. Quam, praesentium quaerat.
									p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa sapiente vero, necessitatibus minus nihil ut cupiditate animi qui accusamus esse, maxime facilis consequuntur deleniti quasi blanditiis illum voluptates aspernatur ex.
									p 
										i Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur laborum suscipit quasi, voluptate inventore voluptatem blanditiis voluptates commodi nesciunt debitis asperiores officiis aut! Ex alias accusamus illum incidunt neque laboriosam.
						hr
