extend _template

block content
	#wrapper
		.ui.inverted.center.aligned.segment
			.ui.container
				.ui.large.secondary.inverted.menu.mastmenu
					.item.serif 
						img(src="/static/images/wiki-v1.png", alt="WikiAcad logotipo")
					a.item Sobre
					a.item.periodical-trigger Revista
					a.item Videoteca 