extend _template

block content
	#wrapper(style="background-color: white; height: 200vh")
		.ui.following.bar.light.fixed
			.ui.container
				.ui.secondary.menu
					.item 
						img(src="/static/images/wiki-v6.png", alt="WikiAcad logotipo")
					a.item Sobre
					a.item.periodical-trigger Revista
					a.item Videoteca 