extend _template

append stylesheets
	link(rel="stylesheet", href="/static/css/footer.sass.css")
	link(rel="stylesheet", href="/static/css/profile.sass.css")

block content
	#wrapper
		.ui.small.modal
			.header Novo artigo
			.content.clearfix
				h4.dividing.header Precisamos saber algo sobre o seu artigo antes.
				form#formNovoArtigo.ui.form(action="article")
					.required.field
						label Título
						input(placeholder='Título do artigo', type='text', name='title') 
					.required.field
						label Subtítulo
						input(placeholder='Subtítulo do artigo', type='text', name='subtitle') 
					.two.fields
						.required.field
							label Orientador
							input(placeholder='Nome do orientador', type='text', name="leader")
						.required.field
							label Autor
							input(placeholder='Nome do autor', type='text', name="author")
					.required.field
						label Conteúdo
						.row.form-group
							input(name='about', type='hidden')
							#editor-container
							.row

					input(type="submit", value="Pronto!").ui.right.floated.primary.button
					input(type="reset",	value="Cancelar").ui.right.floated.button

		include components/following_menu.pug
		+followingMenu()

		#content-wrapper
			.ui.profile.header
				.ui.university.image
					img(src="/static/images/fatec.png")
			.ui.grid.stackable.container
				.five.wide.column
					.ui.profile.image 
						img(src="http://via.placeholder.com/300x300")
					h1 Administrador
					p Sou o administrador do sistema. Para mim, nada é impossível :D
				.eleven.wide.column
					a(id="new-article", href="/newArticle") Escrever novo artigo
					.ui.items
						each article in articles
							.item
								.image 
									img(src="http://via.placeholder.com/150x150")
								.content
									a.header(href="/article/#{article.id}")=article.title
									.meta
										span 1 colaborador
									.description
										p=article.blocks[0].paragraphs[0]

	include components/footer.pug
block scripts
	script(src="/static/lib/semantic/components/visibility.min.js")
	script(src="/static/lib/semantic/components/transition.min.js")
	script(src="/static/lib/semantic/components/dimmer.min.js")
	script(src="/static/lib/semantic/components/modal.min.js")
	script(src="/static/js/following_menu.js")
	script(src='https://cdn.quilljs.com/1.3.6/quill.js')
	script.
		$(document).ready(() => {
			WikiAcad.components.FollowingMenu.start()

			/*$("#new-article").click(() => {
				$(".ui.modal").modal('show')
			})*/
		})
